{% extends 'main/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>
            FiliFiszki
        </h1>
        <p>
            Witaj w aplikacji FiliFiszki!
        </p>
        <p class="text-justify">
	Po zalogowaniu się przez Facebooka możesz dodawać swoje własne słówka do nauki i uczyć się ich efektywnie dzięki <a href="https://en.wikipedia.org/wiki/SuperMemo" target="__blank">algorytmowi Supermemo 2</a>.
        </p>
    </div>
    <div class="text-center">
        <p>
            <a href="/play"><button class="btn btn-lg btn-success">Rozpocznij naukę</button></a>
        </p>
        <p>
            <a href="/flashcards"><button class="btn btn-md btn-primary">Przeglądaj i dodawaj fiszki</button></a>
        </p>
    </div>
{% endblock %}
