{% extends 'main/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>
            Flashcards
        </h1>
        <p>
            Witaj w aplikacji Flashcards!
        </p>
        <p class="text-justify">
            Po zalogowaniu się przez Facebooka możesz dodawać swoje własne słówka do nauki i uczyć się ich efektywnie dzięki algorytmowi Supermemo 2.
        </p>
    </div>
    <div class="text-center">
        <a href="/play"><button class="btn-lg btn-primary">Rozpocznij naukę!</button></a>
    </div>
{% endblock %}