{% extends 'main/base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/play.css' %}">
{% endblock %}

{% block content %}
    {% if flashcard %}
    <div class="jumbotron">
        <div class="row text-center">
            <div class="question col-xs-6">
                <h2>
                {{ flashcard.question }}
                </h2>
            </div>
            <div class="answer col-xs-6" hidden>
                <h2>
                {{ flashcard.answer }}
                </h2>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-4">
            <div hidden>
                <a href="/flashcard/{{ flashcard.id }}/0" class="btn btn-danger">Nie umiem</a>
            </div>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-info">Pokaż odpowiedź</button>
        </div>
        <div class="col-xs-4">
            <div hidden>
                <a href="/flashcard/{{ flashcard.id }}/5" class="btn btn-success">Umiem</a>
            </div>
        </div>
    </div>
    {% else %}
    <h2>
        No more flashcards!
    </h2>
    {% endif %}
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'main/js/play.js' %}"></script>
{% endblock %}