{% extends 'main/base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/play.css' %}">
{% endblock %}

{% block content %}
    {% for flashcard in flashcards %}
    <div class="flashcard col-xs-12">
    <div class="jumbotron">
        <div class="row text-center">
            <div class="question col-xs-6">
                <h2>
                {{ flashcard.question }}
                </h2>
            </div>
            <div class="answer col-xs-6" hidden>
                <h2>
                {{ flashcard.answer }}
                </h2>
            </div>
        </div>
    </div>
        <div class="row text-center">
            <div class="col-xs-4">
                <button class="btn btn-danger">Nie umiem</button>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-info">Pokaż odpowiedź</button>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-success">Umiem</button>
            </div>
        </div>
    </div>
    {% empty %}
    <h2>
        No flashcards!
    </h2>
    {% endfor %}
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'main/js/play.js' %}"></script>
{% endblock %}